@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

* {
    background: #171717;
}

.container {
    background-color: rgb(25, 25, 25);
    min-height: 85vh;
    min-width: 70vh;

    margin: 10vh 35vh;
    border-radius: 35px;
    padding: 0px;

    justify-content: center;
    align-items: center;
    background-image: url('bg (1).png'); 
    background-size: 100%;
    background-position-x: left;
 background-position-y: bottom;
 background-blend-mode: difference;

}

.nav1 {
    background-color: rgb(72, 72, 72);
       border-top-left-radius: 30px;
          border-top-right-radius: 30px;
}

.nav {
    background-color: rgb(72, 72, 72);

    display: flex;
    margin: 20px 30px;
    list-style: none;
    justify-content: right;
    align-items: center;
    color: white;
    min-height: 14.5vh;


}

.li {
    margin: 0px 10px;
    background-color: rgb(72, 72, 72);
    cursor: pointer;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal
;
  
    



}

.hire {
    font-size: large;
    background-color: blueviolet;
    border-radius: 8px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
